.btn{
    margin-top: 40px;
    margin-left: 80px;
}
/* 
.btn:hover{
    transition: 0.5s;
    background: #9333ea;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    color: white;
} */